@using EntityLayer.Concrete
@model List<Place>
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>MEKANLARIMIZ</h2>
                </div>
            </div>
            @foreach (var item in Model)
            {
               <div class="col-lg-4">
                <div class="venue-item">
                    <div class="thumb">
                        <img src="@item.ImageUrl" alt="">
                    </div>
                    <div class="down-content">
                        <div class="left-content">
                            <div class="main-white-button">
                                <a href="/Rezervation/Index/">Rezervasyon Yap</a>
                            </div>
                        </div>
                        <div class="right-content">
                            <h4>@item.Title</h4>
                            <p>@item.Description</p>
                            <ul>
                                <li><i class="fa fa-sitemap"></i>250</li>
                                <li><i class="fa fa-user"></i>@item.Capacity</li>
                            </ul>
                            <div class="price">
                                <span>Mekan Fiyatı<br><em>@item.Price ₺</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            }
        </div>
    </div>
</div>