@using EntityLayer.Concrete
@model List<About>
<div class="about-upcoming-shows">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-9">
                <h2>@item.Title1</h2>
                <p><p>
                    @item.Description1
                </p></p>
                <h4>@item.Title2</h4>
                <ul>
                    <li>* @item.Description2</li>
                </ul>
                <h4>@item.Title3</h4>
                <p>
                    @item.Description3
                </p>
                <div class="text-button">
                </div>
            </div>
            }
            <div class="col-lg-3">
                <div class="next-shows">
                    <h4><i class="fa fa-clock-o"></i> Yaklaşan Organizasyonlar</h4>
                    <ul>
                        <li>
                            <h5>DreamLand Organizasyonu<h5>
                            <span>Ağustos 29<br>17:30 - 19:00 </span>
                            <div class="icon-button">
                                </a>
                            </div>
                        </li>
                        <li>
                            <h5>
                                End Garden Organizasyonu<h5>
                                    <span>Eylül 01<br>18:30 - 21:00 </span>
                            <div class="icon-button">
                                </a>
                            </div>
                        </li>
                        <li>
                            <h5>
                                ZeWedd Organizasyonu<h5>
                                    <span>Eylül 02<br>19:30 - 22:00 </span>
                            <div class="icon-button">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>