@using EntityLayer.Concrete
@model List<About>
<div class="about-upcoming-shows">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-9">
                <h2>@item.Title1</h2>
                <p><p>
                    @item.Description1
                </p></p>
                <h4>@item.Title2</h4>
                <ul>
                    <li>* @item.Description2</li>
                </ul>
                <h4>@item.Title3</h4>
                <p>
                    @item.Description3
                </p>
                <div class="text-button">
                </div>
            </div>
            }
            
            <div class="col-lg-3">
                <div class="next-shows">
                    <h4><i class="fa fa-clock-o"></i> Get The Next Show Tickets</h4>
                    <ul>
                        <li>
                            <h5>Copacabana Festival</h5>
                            <span>Sep 24 Fri<br>08:30 AM - 11:00 PM</span>
                            <div class="icon-button">
                                <a href="ticket-details.html">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <h5>Rock Music Festival</h5>
                            <span>Sep 22 Wed<br>11:00 AM - 09:00 PM</span>
                            <div class="icon-button">
                                <a href="ticket-details.html">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <h5>Water Splash Festival</h5>
                            <span>July 18 Friday<br>10:00 AM - 11:00 PM</span>
                            <div class="icon-button">
                                <a href="ticket-details.html">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>